<!-- Header Section Begin -->
<header class="header-section">
    <div class="container-fluid">
        <div class="logo">
            <a href="./index.html">
                <img src="/img/logo.png" alt="">
            </a>
        </div>
        <div class="top-social">
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
            <a href="#"><i class="fa fa-youtube-play"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
        <div class="container">
            <div class="nav-menu">
                <nav class="mainmenu mobile-menu">
                    <ul>
                        <li class="active"><a href="./index.html">Главная 1</a></li>
                        <li><a href="./about-us.html">О нас</a></li>
                        <li><a href="./schedule.html">Расписание</a></li>
                        <li><a href="./gallery.html">Галерея</a></li>
                        <li><a href="./blog.html">Блог</a>
                            <ul class="dropdown">
                                <li><a href="./about-us.html">О нас</a></li>
                                <li><a href="./blog-single.html">Детали</a></li>
                            </ul>
                        </li>
                        <li><a href="./contact.html">Контакты</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>
<!-- Header End --> 